@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;300;400;500;700&family=Tiro+Bangla&display=swap");
/* Globall style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* color: #373737; */
  font-size: 15px;
}

/* Customize ant design style */
input, select, textarea{
  height: 45px !important;
  border: 1px solid #b9b9b9 !important;
  width: 100% !important;
}
input:focus, select:focus, textarea:focus{
  outline: none !important;
  border: 1px solid #b9b9b9 !important;
  box-shadow: none !important;
}
button {
  height: 45px !important;
}
